{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css'%}">
    </head>
    <body>

<div class="main">

    <img src="{% static 'cran_logo.png' %}" width="150px" height="150px" class="icon">

    <div class="topnav" id="myTopnav">
      <a href="/contact">Contact</a>
      <a href="">About</a>
      <a href="/" >Home</a>
      </div>
    <hr>
    <br>

    <H1 style="text-align: center;">
        About
    </H1>
    
    <img src="{% static 'cran_logo.png' %}" width="150px" height="150px" style="float: right; width: 500px; height: 300px; border-radius: 50%;">
    <div class="about">
    <h3>Founded in 1919 by Geralt A. Cranium, Cranium Goods was made for the curious minds 
        looking for the next bug invention. We maintained this ethic throughout our entire 
        lifetime and still do. Now we sell the highest quality smart devices with the most
         competeitive processes on the market. We put our customers first 
        and have developed a website and infrastructure that was made for you! Be Smart!</h3>
        <h3>Cranium Goods Ltd. sell a wide range of Smart Devices and have contracted our team to develop a Web App and IT Infrastructure to support the sale of their products online.
            We will be creating a Prototype Web Application with the following requirements:
            Store
            Delivery System
            WM system 
            Product Database
            Linked with Web App
            Scalable system (AWS)
            </h3>
        </div>
    </body>
</html>