{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>

<div class="main">

    <img src="{% static 'cran_logo.png' %}" width="150px" height="150px" class="icon">

    <div class="topnav" id="myTopnav">
      <a href="">Contact</a>
      <a href="/about">About</a>
      <a href="/" >Home</a>
      </div>
    <hr>
    <br>

    <H1 style="text-align: center;">
        Contact Us Via Our Emails:
    
    </H1>

    <h2>cian.comerford5@mail.dcu.ie</h2>
    <h2>darragh.brennan62@mail.dcu.ie</h2>
    <h2>turlough.duignan3@mail.dcu.ie</h2>
    <h2>adam.hendricken6@mail.dcu.ie</h2>
</div>
    </body>
</html>