<html>
    <head>
        <link rel="stylesheet" href="product.css">
    </head>
    <body>

        <a href="Cranium.html"><img src="cran_logo.png" width="150px" height="150px" class="icon">
        </a>
        <div class="topnav" id="myTopnav">
        <a href="contact.html">Contact</a>
        <a href="about.html">About</a>
        <a href="Cranium.html" >Home</a>
        </div>
        <hr>
        <br>
        <main class="container">
 
            <div class="left-column">

              <img src="TP.jpeg" alt="Product" class="product_img">

            </div>


              <div class="product-description">
                <span>Smart Tech</span>
                <h2>TP-LINK Tapo C200 Full HD 1080p WiFi Security Camera</h2>
                <p>Keep watch over what's going on in your home with the TP-Link Tapo C200
                     Full HD 1080p WiFi Security Camera. This camera gives you peace of mind when
                     you're away from home with a Full HD stream straight to your smartphone or tablet.
                </p>
                <br>
                <h2>€75</h2>
        
               <a href="Cranium.html"><button>Add to cart</button></a><
                
              </div>
        
           
             
            
               
                
              
            
          </main>
    </body>
</html>