{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'product.css' %}">
    </head>
    <body>

        <a href="/"><img src="{% static 'cran_logo.png'%}" width="150px" height="150px" class="icon">
        </a>
        <div class="topnav" id="myTopnav">
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/" >Home</a>
        </div>
        <hr>
        <br>
        <main class="container">
 
            <div class="left-column">

              <img src="{% static 'Alexa.jpeg' %}" alt="Product" class="product_img">

            </div>


              <div class="product-description">
                <span>Smart Tech</span>
                <h2>AMAZON Echo Dot (3rd Gen) Smart Speaker with Alexa - Charcoal</h2>
                <p>Our most popular Echo is now even better. With a new speaker and design, 
                    Echo Dot is a voice-controlled smart speaker with Alexa that's perfect for any room. 
                    Just ask for music, news, information and more. You can also call almost anyone, 
                    and control compatible smart home devices with your voice.
                </p>
                <br>
                <h2>€50</h2>
        
               <a href="/"><button>Add to cart</button></a>
                
            </div> 
          </main>
    </body>
</html>