{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'product.css' %}">
    </head>
    <body>

        <a href="/"><img src="{% static 'cran_logo.png' %}" width="150px" height="150px" class="icon">
        </a>
        <div class="topnav" id="myTopnav">
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/" >Home</a>
        </div>
        <hr>
        <br>
        <main class="container">
 
            <div class="left-column">

              <img src="{% static 'Smart_light.jpeg' %}" alt="Product" class="product_img">

            </div>


              <div class="product-description">
                <span>Smart Tech</span>
                <h2>PHILIPS HUE White & Colour Ambiance Starter Kit with Twin Pack LED Smart Bulb & Bridge - B22</h2>
                <p>This Philips Hue Starter Kit contains everything you need to add smart lighting to your home. 
                    Choose from 16 million colours to create atmospheric lighting for every occasion.
                </p>
                <br>
                <h2>€100</h2>
        
               <a href="/"><button>Add to cart</button></a>
                
              </div>
        
           
             
            
               
                
              
            
          </main>
    </body>
</html>