{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'product.css' %}">
    </head>
    <body>

        <a href="/"><img src="{% static 'cran_logo.png' %}" width="150px" height="150px" class="icon">
        </a>
        <div class="topnav" id="myTopnav">
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/" >Home</a>
        </div>
        <hr>
        <br>
        <main class="container">
 
            <div class="left-column">

              <img src="{% static 'smart_watch.jpeg' %}" alt="Product" class="product_img">

            </div>


              <div class="product-description">
                <span>Smart Tech</span>
                <h2>SAMSUNG Galaxy Watch5 BT with Bixby & Google Assistant - Graphite, 44 mm</h2>
                <p>Put your wellbeing first with the Samsung Galaxy Watch5. It keeps an eye on your 
                    health by monitoring important metrics, like body composition, heart rate, blood pressure and more.
                     And it uses all that data to coach you on your workouts, so you can ace that 10K.
                </p>
                <br>
                <h2>€100</h2>
        
               <a href="/"><button>Add to cart</button></a>
                
              </div>
        
           
             
            
               
                
              
            
          </main>
    </body>
</html>